<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Document</title>
	</head>
	<body>
		<h1>
			Conozca la diferencia entre la tenencia legal y la patria
			potestad
		</h1>
		<h3>Fecha: 07/07/2002</h3>
		<p>
			La abogada en derecho de familia Fiorella Jaimes, recordo que el
			articulo 74 del Codigo de los Ninos y Adolescentes senala que la
			patria potestad es un derecho y un deber, es decir el padre o
			madre deben velar, educar y alimentar a sus hijos ya que es un
			derecho inherente de todo progenitor desde el nacimiento de su
			hijo.
		</p>
		<p>
			En la secuencia Familia y Justicia de RPP, Jaimes sostuvo que la
			diferencia con la tenencia es cuando hay padres separados la
			persona con quien va a vivir o pernoctar el hijo, que lo
			determinara posiblemente un juez o mediante la conciliacion, es
			quien ejercera la tenencia legal.
		</p>
		<p>
			La especialista preciso que si un padre ha violentado a sus hijos
			este hecho debera demostrarse en el proceso judicial y por ello
			ese padre podria abstenerse de ejercer la tenencia, pero debe ser
			debidamente probado en el juicio.
		</p>
		<p>
			La abogada alerto que hay casos de padres que generan denuncias
			falsas con el fin de perjudicar al otro conyuge por lo que es
			recomendable realizar una audiencia antes de emitirse medidas de
			proteccion.
		</p>
		<p>
			Fiorella Jaimes, agrego que la patria potestad es el derecho de
			todo padre y de toda madre en cambio la tenencia es con quien el
			hijo va a vivir. 'Si hay un divorcio o una separacion el padre
			con quien el hijo se quede ejercera la tenencia y custodia del
			nino, la ejerce de hecho, pero para que sea una tenencia de
			derecho sera mediante un acta de conciliacion o sentencia
			judicial', anoto.
		</p>
	</body>
</html>
